@import "variables";


$height_header: 5.5rem;


.header-wrapper {
  position: fixed;
  height: $height_header;
  width: 100%;
  top:0;
  left:0;
  right:0;
  background-color: rgba($color-app,0.53);

  .header-container {
    height: $height_header;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .header {
      font-family: 'Raleway' !important;
      font-size: 1.45rem;
      font-weight: 100;
      color: rgb(246, 249, 250);
    }//header
  }//header-container
  

}//header-wrapper




// Media query work to down of xl
@media (max-width: $xl) {
  img.bioh-logo {
    width: 700px !important;
  }//bioh-logo
}//media(xxl)



@media (max-width: $lg) {
  .company-name {
    display: none !important;
  }//company-name

  .header-container {
    display: flex;
    justify-content: center !important;
  }//header-wrapper
}//media(md)



@media (max-width: $md){
  .header-wrapper {
    height: 4rem;
  }//header-wrapper
  img.bioh-logo {
    width: 550px !important;
    margin-bottom: 3rem !important;
  }//bioh-logo
}//media(md)



@media (max-width: $sm){
  .header-wrapper {
    height: 3.8rem;
  }//header-wrapper
  img.bioh-logo {
    width: 450px !important;
  }//bioh-logo
}//media(sm)



@media (max-width: $xs){
  .header-wrapper {
    height: 3rem;
  }//header-wrapper
  img.bioh-logo {
    width: 280px !important;
  }//bioh-logo
}//media(sm)





