
$height_header: 5.5rem;
$color_background: #439dce;

.header-wrapper {
  position: fixed;
  height: $height_header;
  width: 100%;
  top:0;
  left:0;
  right:0;
  background-color: rgba($color_background,0.53);

  .header-container {
    height: $height_header;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .header {
      font-size: 2.2rem;
      font-weight: 100;
      color: rgb(246, 249, 250);
    }//header
  }//header-container
  

}//header-wrapper

