
@import 'variables';


.image-splash {
  height: 800px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &.stopImage{
    position: fixed !important;
    top: -640px !important;//-700
    left: 0 !important;
    right: 0 !important;
    z-index: 100 !important;
   
    -webkit-box-shadow: 0px 10px 11px -9px rgba(0,0,0,0.40);
    -moz-box-shadow: 0px 10px 11px -9px rgba(0,0,0,0.40);
    box-shadow: 0px 10px 11px -9px rgba(0,0,0,0.40);
  }//stopscroll

}//image-splash


.container {
  z-index: 0;

  &.stopImage {
    margin-top: 800px !important;
  }//stopscroll

  .pools-title-wrapper {
    margin-top: 180px;

    h3 {
      font-weight: 700;
    }//h3
  }//pools-title-wrapper

}//container


.head-summary-wrapper {
  width: 100%;
  position: absolute;
  margin-top: -17rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;

  label {margin-bottom: 0 !important;}

  div.wrapper {
    background-color: rgba(#7fc0fd, 0.7);

    &.details {
      margin-top: 0.5rem;
    }//details
  }//underground-wrapper

  label.head-summary {
    text-align: center;
    line-height: 4rem;
    text-shadow: 0px 2px 2px rgba( #1F4782, 1);
    font-size: 4rem;
    font-weight: 700;
  }//head-summary

  label.details-summary {
    text-align: center;
    font-size: 1.5rem;
  }//details-summary
}//head-summary-wrapper



.step-of-pool-build {
  width: 100%;
  height: 18rem;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  
  .steps-titles {
    width:100%;
    padding-bottom: 1.5rem;
  }//row

  .step {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff;
  }//step

}//step-of-pool-build







@media (max-width: $xl) {
  .step-of-pool-build {
    height: 13rem !important;
    .step {
      font-size: 1.8rem !important;
    }//step
  }//step-of-pool-build
}//@media


@media (max-width: $lg) {
  .step-of-pool-build {
    height: 8rem !important;
    .step {
      font-size: 1.2rem !important;
    }//step
  }//step-of-pool-build
}//@media


@media (max-height: $sm){
  .image-splash {
    margin-top: -20rem !important;
  }//image-splash

  .head-summary-wrapper {
    margin-top: -18rem;
  }//head-summary-wrapper
}//@media


@media (max-width: $xs) {

  .image-splash {
    margin-top: -8rem !important;
  }//image-splash

  .head-summary-wrapper {
    margin-top: -19.5rem;

    .head-summary {
      line-height: 3.5rem !important;
      font-size: 3rem !important;
    }//head-summary

    .details-summary {
      font-size: 1.3rem !important;
    }//details-summary
  }//head-summary-wrapper
  
  .step-of-pool-build {
    height: 4.2rem !important;
    
    .steps-titles {
      display: none !important;
    }//steps-titles
  }//step-of-pool-build
}//@media
