
<div class="image-splash" [style.background-image]=" 'url('+ splashImageUrl +')' " [class.stopImage]=" stopTopImage " ></div>


<div class="container" [class.stopImage]=" stopTopImage ">

  <div class="head-summary-wrapper">
    <span class="head-summary">Tu piscina como tu la quieres!</span>
  </div>


  <div class="row">
  
    
    <div class="col-4">
      <span>Elige o diseña tu propia piscina</span>
    </div>


    <div class="col-4">
      <span>Te damos tu presupuesto</span>
    </div>


    <div class="col-4">
      <span>Y en menos de dos semanas te bañas!</span>
    </div>

  </div>
    

  <div class="row">
    <div class="col-12">

      <div class="pools-title-wrapper">
        <h3>Piscinas para todos!</h3>
        <p>Aquí vamos a poner el slogán para poder vender la piscina</p>
      </div>

      <div>
        <h3>
          las instalaciones gunitadas son construidas de tal forma que el hormigón fino es propulsado y se queda adherido a las paredes y al suelo por la fuerza del impacto.
          Gracias a esto, logramos que quede compacto y no se forme ninguna clase de poro ni bolsas de aire. Además, se logra el deseado efecto impermeable.
        </h3>
      </div>

      <div>
        <h3>
            La piscina de hormigón tradicional, sin embargo, se fabrica a partir de una losa de dicho material en el suelo.
            Cuando está fraguada, se construyen las paredes, por lo que aparece una junta perimetral en el fondo de la piscina, en el punto de unión del suelo y las paredes,
            en cambio en el gunitado, tanto las paredes como el suelo se fabrican paralelamente, por lo que el fraguado del vaso se realiza de manera uniforme y no se forman ni juntas ni empalmes
        </h3>
      </div>
      
    </div>
  </div>

</div>



<div class="step-of-pool-build" [style.background-image]=" 'url('+ stepsToPoolBuild +')' ">
  <div class="row steps-titles ">
    <div class="col-3 step">Medición</div>
    <div class="col-3 step">Diseño</div>
    <div class="col-3 step">Construcción</div>
    <div class="col-3 step">Diversión!</div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-12">

      <bioh-summary>
          <span>Construye tu propia piscina a tu gusto y diseñada a tu medida, disfrutala sin preocupaciones gracias a <b>nuestros mas de 20 años de garantía</b>.</span>
      </bioh-summary>
      
    </div>
  </div>
</div>
