
<div class="image-splash" [style.background-image]=" 'url('+ splashImageUrl +')' " [class.stopImage]=" stopTopImage " ></div>



<div class="head-summary-wrapper">  
  <div class="wrapper">
    <label class="head-summary">¡Tu piscina como tu la quieres!</label>
  </div>

  <div class="wrapper details">
    <label class="details-summary">Define y diseña tu piscina como tu siempre has querido</label>
  </div>
</div>



<div class="container" [class.stopImage]=" stopTopImage ">

  <div class="row icons-summary-wrapper">
  
    
    <div class="col-4">
      <bioh-icon-summary iconRef="fa fa-usd">
        <span>Construcción económica</span>
      </bioh-icon-summary>
    </div>


    <div class="col-4">
      <bioh-icon-summary iconRef="fa fa-cogs">
        <span>La mejor tecnología de construcción de piscinas</span>
      </bioh-icon-summary>
    </div>


    <div class="col-4">
      <bioh-icon-summary iconRef="fa fa-shield">
        <span>Garantía de mas de 20 años</span>
      </bioh-icon-summary>
    </div>

  </div>
    

  <div class="row">
    <div class="col-12">

      <bioh-summary>
        <span>
          las instalaciones gunitadas son construidas de tal forma que el hormigón fino es propulsado y se queda adherido a las paredes y al suelo por la fuerza del impacto.
          Gracias a esto, <b>logramos que quede compacto y no se forme ninguna clase de poro ni bolsas de aire. Además, se logra el deseado efecto impermeable</b>.
          </span>
      </bioh-summary>
      
    </div>
  </div>

</div>



<div class="step-of-pool-build" [style.background-image]=" 'url('+ stepsToPoolBuild +')' ">
  <div class="row steps-titles ">
    <div class="col-3 step">Medición</div>
    <div class="col-3 step">Diseño</div>
    <div class="col-3 step">Construcción</div>
    <div class="col-3 step">Diversión!</div>
  </div>
</div>


<div class="container">
    
  <div class="row">
    <div class="col-12">
    
      <bioh-summary>
        <span>
          La piscina de hormigón tradicional, sin embargo, se fabrica a partir de una losa de dicho material en el suelo.
          Cuando está fraguada, se construyen las paredes, por lo que aparece una junta perimetral en el fondo de la piscina, en el punto de unión del suelo y las paredes,
          en cambio <b>en el gunitado, tanto las paredes como el suelo se fabrican paralelamente, por lo que el fraguado del vaso se realiza de manera uniforme y no se forman ni juntas ni empalmes</b>
        </span>
      </bioh-summary>
    
    </div>
  </div>

  <div class="row">
    <div class="col-12">

      <bioh-summary>
          <span>Construye tu propia piscina a tu gusto y diseñada a tu medida, disfrútala sin preocupaciones gracias a <b>nuestros mas de 20 años de garantía</b>.</span>
      </bioh-summary>
      
    </div>
  </div>
</div>
