
$fontFamily: 'Raleway', Geneva, Verdana, sans-serif;

$color-app: #439dce;
$color-company: #AFFD89;
$color-dark:#31333a;
$color-light:#c0fcf3;

$fontSize-title: 2.5rem;
$fontSize-subtitle: 1.7rem;
$fontSize-widget: 0.95rem;
$fontSize-paragraph: 0.9rem;
$fontSize-detail: 0.82rem;

$size-icons: 2rem;

$margin-between-components:20px;



$xs: 450px;
$sm: 544px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;